---
import DownloadArtifacts from './DownloadArtifacts.astro'
import DownloadFile from './DownloadFile.astro'
import type { Type } from '../types/version'

interface Props {
    file: string
    artifacts: string
    bundles: string
    type: Type
}

const { file, artifacts = '', bundles = '', type = 'current' } = Astro.props
---

<DownloadArtifacts artifacts={artifacts} bundles={bundles} type={type} />
<p>
    Download: <DownloadFile file={file} type={type} />
</p>
